<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="com.simbest.activiti.query.mapper.CustomTaskMapper">
    <!-- 定义缓存 -->
    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
    <!-- 我的待办查询开始 -->
   	<select id="queryMyTask" parameterType="map" resultMap="com.simbest.activiti.query.mapper.ActBusinessStatusMapper.ActBusinessStatusResult" flushCache="true">
        SELECT DISTINCT  S.id,S.businessKey,S.code,S.createOrgId,S.createOrgName,S.createUserCode,S.createUserId,S.createUserName,S.delegationState,S.duration,S.endActivityId,S.endActivityName,S.endTime,S.executionId,S.iscg,S.previousAssignee,S.previousAssigneeDate,S.previousAssigneeName,S.previousAssigneeOrgId,S.previousAssigneeOrgName,S.previousAssigneeUniqueCode,S.processDefinitionId,S.processDefinitionKey,S.processDefinitionName,S.processInstanceId,S.startActivityId,S.startActivityName,S.startTime,RES.ASSIGNEE_ as taskAssignee,RES.ID_ as taskId,RES.TASK_DEF_KEY_ as taskKey,RES.NAME_ as taskName,RES.OWNER_ as taskOwner,RES.CREATE_TIME_ as taskStartTime,S.title,S.createTime,S.updateTime,S.lastTimeStamp,S.demandUserId,S.demandOrgId,S.act_parentId,S.enabled,S.removed,S.isparent,S.isStop,S.chargeUserCode,S.developUserCode 
		FROM ACT_RU_TASK RES INNER JOIN  act_business_status S ON res.PROC_INST_ID_=s.processInstanceId
		and s.iscg =0 and s.enabled = 1
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
		    LEFT JOIN ACT_RU_IDENTITYLINK I
                ON I.TASK_ID_ = RES.ID_
            WHERE (RES.ASSIGNEE_ = #{uniqueCode}
                    OR (RES.ASSIGNEE_ IS NULL
                        AND (I.USER_ID_ = #{uniqueCode}
                              OR I.GROUP_ID_ IN(SELECT
                                                  g.GROUP_ID
                                                FROM sys_user_group g
                                                WHERE g.USER_ID = #{uniqueCode})))) ORDER BY S.taskStartTime DESC

    </select>
    
    
   	<select id="countMyTask" parameterType="map" resultType="java.lang.Integer" flushCache="true">
		SELECT COUNT(DISTINCT S.id) FROM ACT_RU_TASK RES INNER JOIN  act_business_status S ON res.PROC_INST_ID_=s.processInstanceId
		and s.iscg =0 and s.enabled = 1
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
		LEFT JOIN ACT_RU_IDENTITYLINK I
                ON I.TASK_ID_ = RES.ID_
            WHERE (RES.ASSIGNEE_ = #{uniqueCode}
                    OR (RES.ASSIGNEE_ IS NULL
                        AND (I.USER_ID_ = #{uniqueCode}
                              OR I.GROUP_ID_ IN(SELECT
                                                  g.GROUP_ID
                                                FROM sys_user_group g
                                                WHERE g.USER_ID = #{uniqueCode}))))

    </select>
    <!-- 我的待办查询结束 -->
    
    <!-- 我的待办查询开始MOA -->
   	<select id="queryMyTaskMOA" parameterType="map" resultMap="com.simbest.activiti.query.mapper.ActBusinessStatusMapper.ActBusinessStatusResult" flushCache="true">
        SELECT DISTINCT  S.id,S.businessKey,S.code,S.createOrgId,S.createOrgName,S.createUserCode,S.createUserId,S.createUserName,S.delegationState,S.duration,S.endActivityId,S.endActivityName,S.endTime,S.executionId,S.iscg,S.previousAssignee,S.previousAssigneeDate,S.previousAssigneeName,S.previousAssigneeOrgId,S.previousAssigneeOrgName,S.previousAssigneeUniqueCode,S.processDefinitionId,S.processDefinitionKey,S.processDefinitionName,S.processInstanceId,S.startActivityId,S.startActivityName,S.startTime,RES.ASSIGNEE_ as taskAssignee,RES.ID_ as taskId,RES.TASK_DEF_KEY_ as taskKey,RES.NAME_ as taskName,RES.OWNER_ as taskOwner,RES.CREATE_TIME_ as taskStartTime,S.title,S.createTime,S.updateTime,S.lastTimeStamp,S.demandUserId,S.demandOrgId,S.act_parentId,S.enabled,S.removed,S.isparent,S.isStop,S.chargeUserCode,S.developUserCode 
		FROM ACT_RU_TASK RES INNER JOIN  act_business_status S ON res.PROC_INST_ID_=s.processInstanceId
		and s.iscg =0 and s.enabled = 1
		and RES.TASK_DEF_KEY_ not like "%usertask_experts%"
		and RES.TASK_DEF_KEY_ not like "%wrv.%"
		and RES.TASK_DEF_KEY_ not like "%usertask8"
		and RES.TASK_DEF_KEY_ not like "%usertask1"
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
		    LEFT JOIN ACT_RU_IDENTITYLINK I
                ON I.TASK_ID_ = RES.ID_
            WHERE (RES.ASSIGNEE_ = #{uniqueCode}
                    OR (RES.ASSIGNEE_ IS NULL
                        AND (I.USER_ID_ = #{uniqueCode}
                              OR I.GROUP_ID_ IN(SELECT
                                                  g.GROUP_ID
                                                FROM sys_user_group g
                                                WHERE g.USER_ID = #{uniqueCode})))) ORDER BY S.taskStartTime DESC

    </select>
    
    
   	<select id="countMyTaskMOA" parameterType="map" resultType="java.lang.Integer" flushCache="true">
		SELECT COUNT(DISTINCT S.id) FROM ACT_RU_TASK RES INNER JOIN  act_business_status S ON res.PROC_INST_ID_=s.processInstanceId
		and s.iscg =0 and s.enabled = 1
		and RES.TASK_DEF_KEY_ not like "%usertask_experts%"
		and RES.TASK_DEF_KEY_ not like "%wrv.%"
		and RES.TASK_DEF_KEY_ not like "%usertask8"
		and RES.TASK_DEF_KEY_ not like "%usertask1"
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
		LEFT JOIN ACT_RU_IDENTITYLINK I
                ON I.TASK_ID_ = RES.ID_
            WHERE (RES.ASSIGNEE_ = #{uniqueCode}
                    OR (RES.ASSIGNEE_ IS NULL
                        AND (I.USER_ID_ = #{uniqueCode}
                              OR I.GROUP_ID_ IN(SELECT
                                                  g.GROUP_ID
                                                FROM sys_user_group g
                                                WHERE g.USER_ID = #{uniqueCode}))))

    </select>
    <!-- 我的待办查询结束 -->
    
    
    <!-- 我的申请查询开始 -->
   	<select id="queryMyApply" parameterType="map" resultMap="com.simbest.activiti.query.mapper.ActBusinessStatusMapper.ActBusinessStatusResult" flushCache="true">
        SELECT * FROM act_business_status s WHERE s.createUserCode=#{uniqueCode} AND iscg=0 
        <if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
        <if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
        <if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
        <if test="startTime != null">and s.startTime <![CDATA[>=]]> #{startTime}</if>
		<if test="endTime != null">and s.startTime <![CDATA[<=]]> #{endTime}</if>
		
		<if test="endTimenull != null">and s.endTime is null</if>
		<if test="endTimevalue != null">and s.endTime is not null and s.isstop is null </if>
		<if test="isstop != null">and s.isstop  = 1</if>
        AND enabled=1 AND act_parentId is null ORDER BY S.startTime DESC
    </select>
    
    
   	<select id="countMyApply" parameterType="map" resultType="java.lang.Integer" flushCache="true">
		SELECT COUNT(*) FROM act_business_status s WHERE s.createUserCode=#{uniqueCode} AND iscg=0 
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
        <if test="startTime != null">and s.startTime <![CDATA[>=]]> #{startTime}</if>
		<if test="endTime != null">and s.startTime <![CDATA[<=]]> #{endTime}</if>
        <if test="endTimenull != null">and s.endTime is null</if>
		<if test="endTimevalue != null">and s.endTime is not null and s.isstop is null </if>
		<if test="isstop != null">and s.isstop  = 1</if>

		AND enabled=1 AND act_parentId is null
    </select>
    <!-- 我的申请查询结束 -->
    
    <!-- 我的草稿查询开始 -->
   	<select id="queryMyDraft" parameterType="map" resultMap="com.simbest.activiti.query.mapper.ActBusinessStatusMapper.ActBusinessStatusResult" flushCache="true">
        SELECT * FROM act_business_status s WHERE s.createUserCode=#{uniqueCode} AND iscg=1 
        <if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
        <if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
        <if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
        AND enabled=1 ORDER BY S.createTime DESC
    </select>
    
    
   	<select id="countMyDraft" parameterType="map" resultType="java.lang.Integer" flushCache="true">
		SELECT COUNT(*) FROM act_business_status s WHERE s.createUserCode=#{uniqueCode} AND iscg=1 
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
		AND enabled=1
    </select>
     <!-- 我的草稿查询结束 -->
     
     <!-- 我的已办查询开始 -->
   	<select id="queryMyJoin" parameterType="map" resultMap="com.simbest.activiti.query.mapper.ActBusinessStatusMapper.ActBusinessStatusResult" flushCache="true">
        select DISTINCT id,businessKey,code,createOrgId,createOrgName,createUserCode,createUserId,createUserName,delegationState,duration,endActivityId,endActivityName,endTime,executionId,iscg,previousAssignee,previousAssigneeDate,previousAssigneeName,previousAssigneeOrgId,previousAssigneeOrgName,previousAssigneeUniqueCode,processDefinitionId,processDefinitionKey,processDefinitionName,processInstanceId,startActivityId,startActivityName,startTime,taskAssignee,taskId,taskKey,taskName,taskOwner,taskStartTime,title,createTime,updateTime,lastTimeStamp,demandUserId,demandOrgId,act_parentId,enabled,removed,
        isStop,chargeUserCode,developUserCode 
        from (SELECT s.*,a.completeTime FROM act_business_status s,act_task_assigne a , sys_user u WHERE s.processInstanceId =a.processInstanceId AND s.demandUserId = u.id AND s.iscg=0 
        	<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
        	<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
        	<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
	        <if test="startTime != null">and s.startTime <![CDATA[>=]]> #{startTime}</if>
			<if test="endTime != null">and s.startTime <![CDATA[<=]]> #{endTime}</if>
			<if test="endTimenull != null">and s.endTime is null</if>
			<if test="endTimevalue != null">and s.endTime is not null and s.isstop is null </if>
			<if test="isstop != null">and s.isstop  = 1</if>
			<if test="demandUserName != null and demandUserName !=''">and u.username like CONCAT("%",#{demandUserName},"%") </if>
			<if test="demandOrgIdss != null">and s.demandOrgId IN
				<foreach collection="demandOrgIdss" index="index" item="item" open="(" separator="," close=")">
           			 #{item}
       			 </foreach>
			</if>
        	AND s.enabled=1 AND a.completeTime IS NOT NULL AND (a.owner=#{uniqueCode} OR a.assignee=#{uniqueCode}) ORDER BY a.completeTime DESC) a 
    </select>
    
    
   	<select id="countMyJoin" parameterType="map" resultType="java.lang.Integer" flushCache="true">
		SELECT COUNT(DISTINCT s.id) FROM act_business_status s,act_task_assigne a , sys_user u WHERE s.processInstanceId =a.processInstanceId AND s.demandUserId = u.id AND s.iscg=0 
		<if test='code!=null and code !=""'>AND s.code like CONCAT('%','${code}','%' )</if>
		<if test='title!=null and title !=""'>AND s.title like CONCAT('%','${title}','%' )</if>
		<if test='processDefinitionKeys!=null and processDefinitionKeys !=""'>AND s.code like CONCAT('%','${processDefinitionKeys}','%' )</if>
        <if test="startTime != null">and s.startTime <![CDATA[>=]]> #{startTime}</if>
		<if test="endTime != null">and s.startTime <![CDATA[<=]]> #{endTime}</if>
		<if test="endTimenull != null">and s.endTime is null</if>
		<if test="endTimevalue != null">and s.endTime is not null and s.isstop is null </if>
		<if test="isstop != null">and s.isstop  = 1</if>
		<if test="demandUserName != null and demandUserName !=''">and u.username like CONCAT("%",#{demandUserName},"%") </if>
		<if test="demandOrgIdss != null">and s.demandOrgId IN
				<foreach collection="demandOrgIdss" index="index" item="item" open="(" separator="," close=")">
           			 #{item}
       			 </foreach>
		</if>
		AND s.enabled=1 AND a.completeTime IS NOT NULL AND (a.owner=#{uniqueCode} OR a.assignee=#{uniqueCode})
    </select>
    <!-- 我的已办查询结束 -->

</mapper>